.Top-padding {
  padding-top: 10px;
}

.Board-room {
  border-style: solid; 
}

.Board-row {
  height: 15vh; 
}

.Board-background {
  background-color: lightgray;
}

.Board-message {
  padding-top: 15px;
  padding-bottom: 15px;
}

.Board-hallway-vertical-border {
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2px;
  /* css code adapted from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #0c0a03;
  opacity: 0.9;
  background-image:  linear-gradient(135deg, #f8c374 35%, transparent 25%), linear-gradient(225deg, #f8c374 35%, transparent 25%), linear-gradient(45deg, #f8c374 35%, transparent 25%), linear-gradient(315deg, #f8c374 35%, #f7f3e6 25%);
  background-position:  5px 0, 5px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
}


.Board-hallway-horizontal {
  height: 4vmin;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.Board-hallway-horizontal-border {
  height: 7vmin;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  /* css code adapted from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #0c0a03;
  opacity: 0.9;
  background-image:  linear-gradient(135deg, #f8c374 35%, transparent 25%), linear-gradient(225deg, #f8c374 35%, transparent 25%), linear-gradient(45deg, #f8c374 35%, transparent 25%), linear-gradient(315deg, #f8c374 35%, #f7f3e6 25%);
  background-position:  5px 0, 5px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
}

.Board-Kitchen {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /* css code from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #f7f3e6;
  background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #f7f3e6 25%);
  background-position:  21px 0, 21px 0, 0 0, 0 0;
  background-size: 21px 21px;
  background-repeat: repeat;
}

.Board-Conservatory {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /* css code from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #a68466;
  opacity: 1;
  background-image: linear-gradient(to right, #9f815f, #9f815f 9px, #a68466 9px, #a68466 );
  background-size: 18px 100%;
}

.Board-Study {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /* css code from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #5f131c;
  opacity: 1;
  background-image: linear-gradient(0deg, #6d0d19 50%, #7c121c 50%);
  background-size: 7px 7px;
}

.Board-Ballroom {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /* css code from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #622919;
  opacity: 1;
  background-image:  linear-gradient(135deg, #6c2d02 25%, transparent 25%), linear-gradient(225deg, #6c2d02 25%, transparent 25%), linear-gradient(45deg, #6c2d02 25%, transparent 25%), linear-gradient(315deg, #6c2d02 25%, #622919 25%);
  background-position:  9px 0, 9px 0, 0 0, 0 0;
  background-size: 18px 18px;
  background-repeat: repeat;
}

.Board-Library {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /* css code from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #622919;
  opacity: 1;
  background: linear-gradient(135deg, #cc845455 25%, transparent 25%) -9px 0/ 18px 18px, linear-gradient(225deg, #cc8454 25%, transparent 25%) -9px 0/ 18px 18px, linear-gradient(315deg, #cc845455 25%, transparent 25%) 0px 0/ 18px 18px, linear-gradient(45deg, #cc8454 25%, #622919 25%) 0px 0/ 18px 18px;
}

.Board-Hall {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /* css code from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #622919;
  opacity: 1;
  background-size: 14px 14px;
  background-image:  repeating-linear-gradient(0deg, #8e5c3a, #8e5c3a 0.7000000000000001px, #622919 0.7000000000000001px, #622919);
}

.Board-Lounge {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /* css code from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #a07e75;
  opacity: 1;
  background-image:  radial-gradient(#c1a693 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#c1a693 0.8500000000000001px, #a07e75 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0,17px 17px;
}

.Board-BilliardRoom {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /* css code from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #c27f76;
  background-image: radial-gradient(circle at center center, #ae4744, #c27f76), repeating-radial-gradient(circle at center center, #ae4744, #ae4744, 6px, transparent 10px, transparent 6px);
  background-blend-mode: multiply;
}

.Board-DiningRoom {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  /* css code from https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #6a433e;
  opacity: 1;
  background-image:  linear-gradient(30deg, #481d1c 12%, transparent 12.5%, transparent 87%, #481d1c 87.5%, #481d1c), linear-gradient(150deg, #481d1c 12%, transparent 12.5%, transparent 87%, #481d1c 87.5%, #481d1c), linear-gradient(30deg, #481d1c 12%, transparent 12.5%, transparent 87%, #481d1c 87.5%, #481d1c), linear-gradient(150deg, #481d1c 12%, transparent 12.5%, transparent 87%, #481d1c 87.5%, #481d1c), linear-gradient(60deg, #481d1c77 25%, transparent 25.5%, transparent 75%, #481d1c77 75%, #481d1c77), linear-gradient(60deg, #481d1c77 25%, transparent 25.5%, transparent 75%, #481d1c77 75%, #481d1c77);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.Board-room-name {
  background-color: #212529;
  color: white;
  border-radius: 10px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  width: 150px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  
}
